* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: aqua;
    width: 100%;
    height: 100%;
}
#get {
    padding: 20px;
}
#result {
    width: 300px;
    display: block;
    margin: auto;
}
#city {
    width: 300px;
    margin: 50px auto;
    display: block;
}
option {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 2px;
}